.transferTickets .topTicketSection {
  height: 56px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.52);
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: sticky;
  top: 0;
  background: #ffffff;
}

.transferTickets .topTicketSection p {
  margin: 0;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2e3141;
}
