.ticketEvent {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.ticketEvent .dot {
  height: 10px;
  width: 10px;
  background: #afafaf;
  border-radius: 50%;
}

.ticketEvent .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.ticketEvent .text p {
  margin: 0;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #262626;
}
